#app{
    /* display: flex;
    justify-content: center;
    width: 100%;
    position: relative; */
    z-index: 2;
}
.container{
    margin: auto;
    max-width: 1100px;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
    overflow-x: hidden;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    gap: 15px;
}
.col-4{
       flex: 0 0 25%;
       max-width: 22%;
}
a{
    text-decoration: none;
    color: inherit;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh;
    width: 100vw; */
    /* Second way for making an image */
    /* background-image: url("../assets/img/hero-bg.jpg");
    filter: brightness(.5); */
  }
  
  /* @keyframes tran {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    } 
  } */
  
  .img_1 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.801),
        rgba(255, 132, 0, 0.107)
      ),
      url("../assets/img/hero-bg.jpg");
  }
  .img_2 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.801),
        rgba(255, 132, 0, 0.107)
      ),
      url("../assets/img/second.jpg");
  }
  .img_3 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.801),
        rgba(255, 132, 0, 0.107)
      ),
      url("../assets/img/third.jpg");
  }
  .wraper {
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: all 1s ease;
    /* overflow: hidden; */
    /* animation: tran 2s linear; */
  }
  .home div {
    text-align: center;
  }
  .content {
    color: aliceblue;
  }
  .active_home {
    color: coral;
    letter-spacing: 0.5rem;
  }
  .home p {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    margin: 8px 0 30px;
  }