.home{
  display: flex;
  flex-flow: row wrap;
  gap: 0%;
  padding-top: 5%;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
        rgba(2, 6, 49, 0.762),
        rgba(255, 179, 0, 0.366)
      )
}

button {
  margin: 10px;
  padding: 15px;
  padding-inline: 25px;
  border-radius: 25px;
  color: white;
  font-weight: bolder;
  transition: 0.65s;
}
button:hover {
  transition: 0.65s;
}
.shop {
  background-color: #f28123;
  border: none;
}
.shop:hover {
  background-color: #0a0a0aa4;
  border: none;
  color: #f78930;
}
/* =============cards============= */
.about_card {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
  justify-content: center;
  width: calc(100% / 3);
  width: 20rem;
  height: 33rem;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(98, 70, 24, 0.741);
  transition: transform 0.7s ease;
  background-image: linear-gradient(
    rgba(255, 179, 0, 0.366)
        ,rgba(2, 6, 49, 0.762)
      )
}

.about_card:hover {
  border: none;
  box-shadow: none;
  transform: scale(1.1);
}

.about_card img {
  width: 16rem;
  height: 22rem;
  border-radius: 10%;
  
}
.about_card p {
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 30px;
  letter-spacing: 2px;
}

.about_card .price p {
  font-size: 2rem;
  margin: 0px;
  color: #8190b1;
}
.about_card .price .prof{
  font-size: 1.5rem;
  margin: 0px;
  color:     rgba(244, 218, 157, 0.84)
  ;
}
