<div class="register-containrer">
    <form class="register-card">
        <div class="brand">
            <img src="../../Components/assets/img/logo.png" alt="" />

        </div>
        <div class="register-form">
            
            <input type="text" id="name" name="name" placeholder="Enter Name">
            <span id="name-alert" class="alert"></span>
        </div>
        <div class="register-form">
            
            <input type="email" id="Email" name="Email" placeholder="Enter Email">
            <span id="Email-alert" class="alert"></span>
        </div>
        <div class="register-form">
           
            <input type="Password" id="Password" name="Password" placeholder="Enter Password">
            <span id="password-alert" class="alert"></span>
        </div>
        <div class="register-form">
           
            <input type="Password" id="Confirm-Password" name="Confirm-Password" placeholder="Enter Confirm Password">
            <span id="Confirm-password-alert" class="alert"></span>
        </div>
        <span id="all-alert" class="alert"></span>
        <div class="register-form">
            <button id="submit" type="submit">Sign up</button>
        </div>
    </form>
</div>