<div class="cart-containrt  ">
    <div class="cart-table" >
        <table  >
            <thead class="table-head">
                <tr class="tr-head">
                    <th></th>
                    <th>Product Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn-remove">X</button>
                    </td>
                    <td>
                        <img class="cart-image" src="/Components/assets/img/abt.jpg"alt="">
                    </td>
                    <td>Strawberry</td>
                    <td>$85	</td>
                    <td>
                        <input  class="count-input" type="number" name="" id="">
                    </td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <button>X</button>
                    </td>
                    <td>
                        <img  style="width: 50px" src="/Components/assets/img/abt.jpg"alt="">
                    </td>
                    <td>Strawberry</td>
                    <td>$85	</td>
                    <td>
                        <input  class="count-input" type="number" name="" id="">
                    </td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <button>X</button>
                    </td>
                    <td>
                        <img style="width: 50px" src="/Components/assets/img/abt.jpg"alt="">
                    </td>
                    <td>Strawberry</td>
                    <td>$85	</td>
                    <td>
                        <input class="count-input" type="number" name="" id="">
                    </td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="bill-tabel">
        <table>
            <thead>
                <tr class="tr-head">
                    <th>Total</th>
                    <th>Price</th>
                     
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    
                    <th>Subtotal:	</th>
                    <td>
                        $500
                    </td>
                    
                </tr>
                <tr>
                    
                    <th>Shipping:	</th>
                    <td>
                        $45
                    </td>
                    
                </tr>
                <tr>
                    
                    <th>Total:	</th>
                    <td>
                        $545
                    </td>
                    
                </tr>
            </tbody>
        </table>


    </div>
</div>