.cart-containrt{
  margin-block: 150px;
  box-sizing: border-box;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: start;
  width: 100%;
}
.table-head{
    border-bottom: 1px solid #eee;
}
.tr-head{
    background-color: #efefef;

}
table{
    border-collapse: collapse;
    text-align: center;
    width: 80%;
}
.cart-table{
    width: 60%;
}
.bill-tabel{
    width: 30%;
}
th{
    padding: 15px;
    border-right: 1px solid #efefef;
    font-weight: 500;
    text-align: center;
}
td{
    border: 1px solid #efefef;
    padding: 20px 0;
    color: #051922;
}

.count-input{
    border: 1px solid #ddd;
    width: 100px;
    padding: 15px;
    border-radius: 5px;
}

.btn-remove{
    background-color: transparent;
}
.cart-image{
 width: 50px;
}

#checkout{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    width: 80%;
    height: 4.5vh;
    border-radius: 50px;
    border:none;
    font-size: 1rem;


}
#checkout:hover {
    background-color: #0a0a0a98;
    border: none;
    color: #f17511;
    transition: 0.6s;
}
.img_2 {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.801),
        rgba(255, 132, 0, 0.107)
      ),
      url("/Components/assets/img/4.jpg");
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }