<div class="product-contaner">
    <div class="gallary">
        <div class="gallary-images">
            <img class="cart-image" src="/Components/assets/img/abt.jpg"alt="">
            <img class="cart-image" src="/Components/assets/img/abt.jpg"alt="">
            <img class="cart-image" src="/Components/assets/img/abt.jpg"alt="">
        </div>
        <div class="main-image">
            <img   src="/Components/assets/img/abt.jpg"alt="">
        </div>
    </div>
    <div class="product-details">
        <h2>
            asd
        </h2>
        <h3>das</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita eligendi autem repellendus maxime esse nostrum qui iste, consequuntur magni suscipit odit corrupti voluptas sed sapiente. Vero sapiente amet rerum ad?</p>
        
    </div>
</div>