
<section>
  <div class="home">
    <div>
      <h4 class="active_home">FRESH & ORGANIC</h4>
      <p>Delicious Seasonal Fruits</p>
      <div>
        <button class="shop">Fruit Collection</button>
        <button class="contact_us">Contact Us</button>
      </div>
    </div>
  </div>
</section>
<section class="our_prod">
  <div class="our_prod">
    <p class="title_size"><span class="title_orange">Our</span> Products</p>
    <span class="light_small_font">
      magnam illo vel, ex cum, dignissimos iusto libero molestiae dolorem ut
      beatae, placeat vitae atque expedita in.Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae
      optio.</span
    >
  </div>
</section>

<!-- cards section -->

<section class="card">
  
</section>

<script src="home.js"></script>
