<nav id="nav">
  <div class="logo">
    <img src="../../Components/assets/img/logo.png" alt="" />
  </div>
  <ul>
    <li><a href="#home" class="active">Home</a></li>
    <li><a href="#product">About</a></li>
    <li><a href="#card">Shop</a></li>
    <li><a href="">Contact</a></li>
  </ul>
  <div id="userdata" class="signin logo">
    <a id="cart"  href="#Cart"><i class="fa-solid fa-cart-shopping"> <span id="cart_count">0</span></i></a>
    <a id="login" href="#logIn">Sing In</a>
    <a id="register" href="#register">Sing up</a>

  </div>
</nav>
 