body{
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1100px;
  margin: auto;
}
nav  {
  /* z-index: 2; */
  background: transparent;
  top: 0;
  color: white;
  padding-top: 20px;
  height: 12vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* ;
  left: 1rem; */
}
.dark_nav{
  background-color: rgba(0, 0, 0, 0.774);
}
nav ul {
  display: flex;
  list-style: none;
}
nav a {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition-duration: .65s;
}
nav a:hover, i:hover{
  color: #F28123;
  transition-duration: .65s;
}
.active{
  color: #F28123;
}
nav img{
  width: 150px;
}
